In [55]:
import json

with open("/home/ethereum/Downloads/ResearchData/chain/chain50k.json") as file:
    blockchain = json.load(file)

In [56]:
print(blockchain["chain"][0])
print(blockchain["chain"][-1])

{'index': 0, 'transactions': [], 'timestamp': 0, 'previous_hash': '0', 'nonce': 0, 'hash': '6dbf23122cb5046cc5c0c1b245c75f8e43c59ca8ffeac292715e5078e631d0c9'}
{'index': 419, 'transactions': [{'o_orderkey': '199940', 'o_custkey': '4729', 'o_totalprice': '249172.41', 'o_orderdate': '1994-06-21', 'o_freedelivery': 'True', 'timestamp': 1696926409.4410195}, {'o_orderkey': '199941', 'o_custkey': '2971', 'o_totalprice': '159375.56', 'o_orderdate': '1997-10-10', 'o_freedelivery': 'False', 'timestamp': 1696926409.8174512}, {'o_orderkey': '199942', 'o_custkey': '4738', 'o_totalprice': '197269.48', 'o_orderdate': '1996-03-27', 'o_freedelivery': 'False', 'timestamp': 1696926410.1698632}, {'o_orderkey': '199943', 'o_custkey': '416', 'o_totalprice': '182962.28', 'o_orderdate': '1997-04-22', 'o_freedelivery': 'False', 'timestamp': 1696926410.564272}, {'o_orderkey': '199968', 'o_custkey': '3500', 'o_totalprice': '253168.41', 'o_orderdate': '1993-04-08', 'o_freedelivery': 'True', 'timestamp': 1696926410.9618661}, {'o_orderkey': '199969', 'o_custkey': '3491', 'o_totalprice': '132327.25', 'o_orderdate': '1992-07-09', 'o_freedelivery': 'False', 'timestamp': 1696926411.3332543}, {'o_orderkey': '199970', 'o_custkey': '3050', 'o_totalprice': '249206.58', 'o_orderdate': '1997-08-06', 'o_freedelivery': 'True', 'timestamp': 1696926411.7169275}, {'o_orderkey': '199971', 'o_custkey': '443', 'o_totalprice': '91346.27', 'o_orderdate': '1995-02-18', 'o_freedelivery': 'False', 'timestamp': 1696926412.1060286}, {'o_orderkey': '199972', 'o_custkey': '2239', 'o_totalprice': '440169.35', 'o_orderdate': '1995-08-17', 'o_freedelivery': 'True', 'timestamp': 1696926412.4632328}, {'o_orderkey': '199973', 'o_custkey': '4297', 'o_totalprice': '43403.19', 'o_orderdate': '1998-03-24', 'o_freedelivery': 'False', 'timestamp': 1696926412.8648772}, {'o_orderkey': '199974', 'o_custkey': '232', 'o_totalprice': '85563.36', 'o_orderdate': '1995-03-20', 'o_freedelivery': 'False', 'timestamp': 1696926413.2465577}, {'o_orderkey': '199975', 'o_custkey': '2920', 'o_totalprice': '134078.51', 'o_orderdate': '1995-03-06', 'o_freedelivery': 'False', 'timestamp': 1696926413.604338}, {'o_orderkey': '200000', 'o_custkey': '1262', 'o_totalprice': '92897.09', 'o_orderdate': '1993-05-15', 'o_freedelivery': 'False', 'timestamp': 1696926413.9876046}], 'timestamp': 1696926429.4579053, 'previous_hash': '0fc99e49141818ef134aded428a2ccb0a39fe953cae9a5ff151dab56ac462352', 'nonce': 10, 'hash': '08646fcf4dc5007dc331ddc219e9a61166c64540dff81978a57bb4f9e2562732'}

In [74]:
length = 0
for i in range(1, blockchain["length"]):
    length += len(blockchain["chain"][i]["transactions"])
print(length)

48109

In [77]:
for block_no in range(1, blockchain["length"]):
    for tx in blockchain["chain"][block_no]["transactions"]:
        if tx["o_orderkey"] == "124128":
            print(tx)

{'o_orderkey': '124128', 'o_custkey': '5095', 'o_totalprice': '48311.87', 'o_orderdate': '1995-12-04', 'o_freedelivery': 'False', 'timestamp': 1696920957.8459787}

In [75]:
total_free = 0
count_tx = 0
orders = []
insights = {"type": "Chain"}
for block_no in range(1, blockchain["length"]):
    for tx in blockchain["chain"][block_no]["transactions"]:
        if tx["o_freedelivery"] == "True":
            total_free += 1
        count_tx += 1
        orders.append(tx["o_orderkey"])
insights[count_tx] = total_free

In [76]:

print(insights)

{'type': 'Chain', 48109: 12040}

In [18]:
with open("/home/ethereum/Downloads/ResearchData/insights.json") as naivefile:
    data = json.load(naivefile)

In [19]:
data.append(insights)

In [52]:
import pandas as pd

df = pd.read_csv("/home/ethereum/Downloads/ResearchData/naive/naiveOrders50k.csv")
df.head()

   o_orderkey  o_custkey  o_totalprice o_orderdate  o_freedelivery
0           1        259     153389.02  1996-01-02           False
1           2        547      65625.12  1996-12-01           False
2           3        865     199896.28  1993-10-14           False
3           4        958      47695.44  1995-10-11           False
4           5        313     126697.65  1994-07-30           False

In [53]:
insights = {"type": "naive"}
total_free = 0
count_tx = 0
for index in range(df.shape[0]):
    if df.iloc[index]["o_freedelivery"] == True:
        total_free += 1
    count_tx += 1

insights[count_tx] = total_free

In [54]:
print(insights)

{'type': 'naive', 10000: 2142}

In [30]:
data.append(insights)

In [31]:
with open("/home/ethereum/Downloads/ResearchData/insights.json", "w") as naivefile:
    json.dump(data, naivefile)